# Python venv folders
Lib
Scripts
__pycache__/
pyvenv.cfg
real_estate_meta_spider.py
# env files
.env
environment.env
# Mysql Directory for
# devlopment purposes
mysqlapp/
docker-compose-dev.yaml
*.xls
Images/
# Ignore Log and test data Files
*.logs
*.json
# Ignore Drawio Files
*.drawio
*.bkp
*.dtmp
# Jenkins temporary
# configuration files
Jenkinsfiletemp